@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Jersey+25&family=Momo+Trust+Display&display=swap');
body{
    margin: 0;
    background-color: #cbdfbd;
    font-family: 'Momo Trust Display', sans-serif;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 10px;
    font-family: 'Momo Trust Display', sans-serif;
    background: #a44a3f;
    color: #f6f4d2;
}
#part1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    font-family: 'Momo Trust Display', sans-serif;
    margin: 5px;
}
#part2{
    font-family: 'Momo Trust Display', sans-serif;
    margin: 5px;
}
.nav-part{
    transition: all 0.3s ease-in-out;
    text-shadow: none;
}
.nav-part:hover{
    text-shadow: 0px 0px 20px rgba(212, 224, 155, 1);
    cursor: pointer;
}
.current{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}
#part1{
    margin-left: 20px;
}
#part2{
    margin-right: 20px;
}
#page{
    display: flex;
    justify-content: center;
}
#line1{
    display: flex;
    width: auto;   
    height: auto;
    gap: 200px;
    flex-direction: row;
}
#line1 p{
    margin-left: 10px;
    font-size: 30px;
}
#icon{
    margin-top: 37px;
    transform: scale(1.5);
    background-color: #bc4749;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    color: #f6f4d2;
    transition: all 0.3s ease-in-out;
}
#icon:hover{
    transform: scale(1.7);
    cursor: pointer;
}
#line2{
    display: flex;
}
#connect{
    z-index: 100;
    height: auto;
    width: 435px;
    height: 50px;
    margin-left: 5px;
    font-family: "Jersey 25";
    background-color: #a44a3f;
    border: none;
    font-size: 30px;
    border-radius: 20px;
    color: white;
    display:block;
}
#decor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
#img1{
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 675px;
    object-fit: 0;
    z-index: 2;
}
#img2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: 700px;
    object-fit: 0;
    z-index: 2;
}
