<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mosaic Dashboard {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add" />
</head>
<body>
    <!--TO DO:
    1. Navbar
    2. Connect Hackatime button.
    3. Add project
        3i. add project button in center
        3ii. Overlay to add project name and details
        3iii. Submission System
        3iv. Admin review system
    4. Leaderboard Draft
    5. Shop System Draft (rather have a in progress banner 😭)
    6. Profile Settings
        -->
    <!--Nav Bar-->
    <div id="navbar">
        <div id="part1">
            <p class="nav-part current">My Projects</p>
            <p class="nav-part">Leaderboard</p>
            <p class="nav-part">My Profile</p>
            <p class="nav-part">Shop</p>
            <p class="nav-part">My Stats</p>
        </div> 
        <div id="part2">
            <p>MOSAIC</p>
        </div>
    </div>
    <div id="decor">
        <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/00d33f270602bed21515a11143abd13f24f4a5d9_websitedecor.png" id="img1">
        <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/6744b79e66c6963e94189a886b7bfe544e75135f_websitedecor_2_.png" id="img2">
    </div>
    <!--Projects Page-->
    <div id="overlay">
        
    </div>
    <div id="page">
        <div id="project-add">
            <div id="line1">
                <p>Your Projects</p>
                <span class="material-symbols-outlined" id="icon">add</span>
            </div>
            <div id="line2" class="hackatime">
                <button id="connect">Connect to Hackatime first!</button>
            </div>
        </div>
    </div>
</body>
</html>