<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mosaic Dashboard {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add" />
</head>
<body>
    <!--TO DO:
    1. Navbar
    2. Connect Hackatime button.
    3. Add project
        3i. add project button in center
        3ii. Overlay to add project name and details
        3iii. Submission System
        3iv. Admin review system
    4. Leaderboard Draft
    5. Shop System Draft (rather have a in progress banner 😭)
    6. Profile Settings
        -->
    <!--Nav Bar-->
    <div id="navbar">
        <div id="part1">
            <p class="nav-part current">My Projects</p>
            <p class="nav-part">Leaderboard</p>
            <p class="nav-part">My Profile</p>
            <p class="nav-part">Shop</p>
            <p class="nav-part">My Stats</p>
        </div> 
        <div id="part2">
            <p>MOSAIC</p>
        </div>
    </div>
    <div id="decor">
        <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/6744b79e66c6963e94189a886b7bfe544e75135f_websitedecor_2_.png" id="img2">
    </div>
    <!--Projects Page-->
    <div id="overlay">
        
    </div>
    <div id="page">
        <div id="project-add">
            <div id="line1">
                <p>Your Projects</p>
                <span class="material-symbols-outlined" id="icon">add</span>
            </div>
            <div id="line2" class="hackatime">
                {% if not auto_connected %}
                <p>Hackatime Auto Connect not available please sign in with slack again!</p>
                {% else %}
                <p>Connected to Hackatime</p>
                {% endif %}
            </div>
            <div class="overlay-hidden" id="add-project" style="display: none;">
                <h2>Add New Project</h2>3
                <form id="add-project-form">
                    <label for="project-name">Enter Project Name: </label>
                    <input type="text" id="project-name" name="project-name" required>
                    <label for="hack-project">Choose Hackatime Project</label>
                    <select id="hack-project" name="hack-project">
                        <option value="">None / Choose a Hackatime Project</option>
                        {% if auto_connected and projects %}
                            {% for project in projects %}
                                <option value="{{ project['name']}}">{{ project['name']}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>

                    <p id="project-hours" aria-live="polite"></p>

                    <label for="project-detail">One liner detail please:</label>
                    <input type="text" id="project-detail" name="project-detail" placeholder="Breif One-line detail!">

                    <button type="submit">Add Project</button>
                    <button type="button" id="close-overlay">Cancel</button>
                </form>
            </div>
            <div id="line3">
                {% for sp in saved_projects %}
                <div class="project-box">
                    <p class="open">{{ sp.name }}</p>
                    <div class="hidden">
                        <p>Hours spent: {{ (sp.total_seconds // 3600) if sp.total_seconds else 0 }}</p>
                        <p><span style="font-style: italic;">{{ sp.detail or 'No Description' }}</span></p>
                        <input type="checkbox" value="review" name="review"  class="review-status">
                        <label for="checkbox">In Review</label>
                        <input type="checkbox" value="shipped" class="last-part shipped-status"> 
                        <label for="checkbox">Shipped</label>
                    </div>
                </div>
                {% endfor %}
                <div class="project-box">
                    <p class="open">Project 1</p>
                    <div class="hidden">
                        <p>Hours spent: <!--Need to add hours tracking for that project here!--></p>
                        <p><span style="font-style: italic;">Temp Project</span></p>
                        <input type="checkbox" value="review" name="review"  class="review-status">
                        <label for="checkbox">In Review</label>
                        <input type="checkbox" value="shipped" class="last-part shipped-status"> 
                        <label for="checkbox">Shipped</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
</body>
</html>