<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/mosaic.png')}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:title" content="Mosaic">
    <meta property="og:description" content="Build a website every month with a different theme. Get stuff. Repeat.">
    <meta property="og:image" content="{{ url_for('static', filename='images/mosaic.png', _external=True) }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.url }}">
    <meta property="twitter:title" content="Mosaic">
    <meta property="twitter:description" content="Build a website every month with a different theme. Get stuff. Repeat.">
    <meta property="twitter:image" content="{{ url_for('static', filename='images/mosaic.png', _external=True) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css')}}">
    <title>Register for Mosaic</title>
</head>
<body>
    <div id="welcome"></div>

    <nav class="top-nav">
        <a href="https://hackclub.com">
            <img src="{{ url_for('static', filename='images/flagtop.png')}}" alt="Hack Club Flag" class="nav-flag">
        </a>
        
        <a href="https://hackclub.com">
            <img src="{{ url_for('static', filename='images/hackclublogo.png')}}" alt="Hack Club Logo" class="nav-logo">
        </a>
    </nav>

    <div id="container">
        <h1>Login to Mosaic</h1>
        <a href="{{ hackclub_auth_url }}" class="auth-btn hackclub-btn">
            <img src="{{ url_for('static', filename='images/hackclublogo.png') }}" alt="Hack Club">
            Sign in with Hack Club
        </a>
    </div>

    <div id="snow-container"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const snowContainer = document.getElementById('snow-container');
            const snowflakeCount = 50; 

            for (let i = 0; i < snowflakeCount; i++) {
                let flake = document.createElement('div');
                flake.classList.add('snowflake');
                let size = Math.random() * 5 + 2 + 'px';
                flake.style.width = size;
                flake.style.height = size;
                flake.style.left = Math.random() * 100 + 'vw';
                flake.style.animationDuration = Math.random() * 3 + 2 + 's'
                flake.style.animationDelay = Math.random() * 5 + 's';
                
                snowContainer.appendChild(flake);
            }
        });
    </script>
</body>
</html>