<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css')}}">
    <title>Register for Mosaic</title>
</head>
<body>
    <div id="container">
        <h1>Login to Mosaic</h1>
        <a href="{{ hackclub_auth_url }}" class="auth-btn hackclub-btn">
            <img src="{{ url_for('static', filename='images/hackclublogo.png') }}" alt="Hack Club">
            Sign in with Hack Club
        </a>
    </div>
    <script src="{{url_for('static', filename='js/signin.js')}}"></script>
</body>
</html>