<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css')}}">
    <title>Register for Mosaic</title>
</head>
<body>
    <div id="container">
        <h1>Login to Mosaic</h1>
        <!--
        Part1
        <form id="signup-form" {% if show_verify %} style="display: none;" {% endif %} method="post">
            <label for="email">Enter your Email ID (the one you are using in Slack / Hackatime)</label>
            <input type="email" id="email" name="email" required> <br>
            <label for="name">Enter your first and last name</label><br>
            <label for="name">This name will be used in leaderboards!</label> <br>
            <input type="text" id="name" name="name" required> <br>
            <button type="submit">Sign Up!</button>
        </form>
        Part2
        <form id="verify-form" {% if not show_verify %} style="display: none;" {% endif %} method="post">
            <label for="code">Enter the verification code sent to your email</label> <br>
            <input type="text" id="code" inputmode="numeric" name="code" required> <br>
            <button type="submit">Verify</button>
            <div>{{message}}</div>
        </form>
        -->
        <a href="{{ slack_auth_url }}" target="_blank">
            <button id="slack">
                <img src= "{{url_for('static', filename='images/slacklogo.png')}}" style="width: 20px; height: 20px; vertical-align:text-bottom;">
                Sign In With Slack
            </button>
        </a>
    </div>
    <script src="{{url_for('static', filename='js/signin.js')}}"></script>
</body>
</html>